:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.p-card-title{
    font-weight: bold;
    font-size: 1.2em;
    color: #406cf1 !important;
}
table {
     width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
th {
    background: #eef2fb;
    text-align: left;
    padding: 14px !important;
    font-weight: bold;
    color: #333;
}

/* Карточка */
.doc-card {
    background: #fff;
    padding: 18px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: 0.2s;
}

.doc-card:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transform: translateY(-2px);
}

/* Верхняя строка */
.doc-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.doc-id {
    font-size: 15px;
    color: #556;
}

/* Название */
.doc-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 14px;
    color: #1a4ad9;
}

/* Информация */
.doc-info {
    font-size: 14px;
    color: #444;
    line-height: 1.5;
    margin-bottom: 14px;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f7fb;
    margin: 0;
}

.cards-container {
    width: 1100px;
    margin: 30px auto;
}

.cards-title {
    font-size: 26px;
    margin-bottom: 20px;
}

/* Список карточек */
.cards-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

/* Карточка */
.doc-card {
    background: #fff;
    padding: 18px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: 0.2s;
}

.doc-card:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transform: translateY(-2px);
}

/* Верхняя строка карточки */
.doc-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.doc-id {
    font-size: 15px;
    color: #556;
}

/* Название документа */
.doc-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 14px;
    color: #1a4ad9;
}

/* Информация */
.doc-info {
    font-size: 14px;
    color: #444;
    line-height: 1.5;
    margin-bottom: 14px;
}

/* Кнопки */
.btn {
    padding: 9px 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn.primary {
    background: #1a4ad9;
    color: #fff;
}

.btn.primary:hover {
    background: #153bb0;
}

/* Статусы */
.status {
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
}

.status-warning {
    background: #f0ad4e;
}

.status-info {
    background: #0275d8;
}

.status-success {
    background: #5cb85c;
}

.status-danger {
    background: #d9534f;
}

.status-secondary {
    background: #6c757d;
}